.wrapper {
	padding-top: 40px;
	width: 70%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.image-wrapper {
	max-width: 45%;
}

.description {
	margin-left: 20px;
}

.link {
	display: block;
	height: 40px;
	font-family: 'Roboto Mono', arial;
	font-size: 18px;
	text-decoration: none;
	color: #000000;
}

@media screen and (min-resolution:2dppx) and (min-width: 300px) {
	.wrapper {
		padding-top: 10vw;
		width: 100%;
	}

	.image {
		width: 100%;
		height: auto;
	}

	.description {
		margin-left: 5vw;
	}

	.link {
		height: 10vw;
		font-size: 3vw;
	}
}
